<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Belén Carrasco y Sergio López.
</p>

<p><a href="https://github.com/slopez-bcarrasco/quiz_2017">URL del proyecto en GitHub</a></p>


<img src="/images/sl.PNG" width="250px" />
<img src="/images/Belen.jpg" width="780px"/>