<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Sergio López y Belén Carrasco.
</p>

<p><a href="http://github.com/slopez-bcarrasco/quiz_2017">URL del proyecto en GitHub</a></p>

<img src="/images/sl.PNG" width = 250px />
<img src="/images/Belen.jpg" width = 750px/>

