<p>Quiz es un portal interactivo en el que podrás responder preguntas de otros usuarios o bien plantear las tuyas propias. 
Para responder, simplemente selecciona la pregunta y escribe en el cuadro de texto que se mostrará debajo.    
¡Buena suerte!</p>
